:root {
    /* general colors variables */
    /* Primary color scheme */
    --primary-light-red-CTA-text: hsl(356, 100%, 66%);
    --primary-very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --primary-very-dark-blue-headings: hsl(208, 49%, 24%);
    /* Neutral color scheme  */
    --neutral-white-text: hsl(0, 0%, 100%);
    --neutral-grayish-blue-footer-text: hsl(240, 2%, 79%);
    --neutral-very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --neutral-very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    /* Gradient scheme  */
    --gradient-mobile-nav-very-light-red: hsl(13, 100%, 72%);
    --gradient-mobile-nav-light-red: hsl(353, 100%, 62%);
    --gradient-body-very-dark-gray-blue: hsl(237, 17%, 21%);
    --gradient-body-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Overpass', sans-serif;
    color: var(--primary-very-dark-blue-headings);
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.7;
}

header {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
h1 {
    font-size: 2.4rem;
}
p {
    font-size: 1rem;
}
h2 {
    font-size: 1.75rem;
    font-weight: 600;
}
h3 {
    margin: 2rem 0;
    padding: 0 2.5rem;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.8rem;
}
main {
    text-align: center;
}
article {
    padding: 0 2rem;
}
.container {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
}

.flex {
    display:flex;

}
.spacer {
    width: 80%;
    height: 8vh;
    margin: 0 auto;
}
.padding-top {
    padding-top: 3.625rem;
}   

.nav {
    display: none;
    border: solid 5px red;
    background-color: white; 
    padding: 1.15rem 0 1.15rem 0;
    position: absolute;
    top:7%;
    right: 5%;
    left: 5%;
    bottom: 20%;
}
.nav ul li ul {
    display: none;
}
.top {
    position: relative;
    width: 100%;
    height: 78vh;
    background: 
    linear-gradient(to bottom, 
    var(--gradient-mobile-nav-very-light-red), 
    var(--gradient-mobile-nav-light-red)  
    );
    border-end-start-radius: 6.25em;
    overflow: hidden;   
    color: var(--neutral-white-text);
    z-index: 0; 
}
.midle {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow:hidden ;
    background: 
    linear-gradient(to bottom, 
    var(--gradient-body-very-dark-gray-blue), 
    var(--gradient-body-very-dark-desaturated-blue)  
    );
    border-end-start-radius: 6.25em;
    border-start-end-radius: 6.25em;
    color: var(--neutral-grayish-blue-footer-text);
    z-index: 0; 
}
.midle h2 {
    color: var(--neutral-white-text);
}
.footer {
    position: relative;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(to bottom, 
    var(--neutral-very-dark-black-blue-footer-background), 
    var(--gradient-body-very-dark-gray-blue)  
    );
    border-start-end-radius: 6.25em;
    color: var(--neutral-grayish-blue-footer-text);
    font-family: 'Ubuntu', sans-serif;
}

.hero-bg {
    position: absolute;
    background-image: url(/images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 230%;
    height: 230%;
    top: -44%;
    right: -47%;
    opacity: 0.7;
    z-index: -1;
}
.circles_bg {
    position: absolute;
    background-image: url(/images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 140%;
    height: 140%;
    bottom:  0;
    left: -20%;
    z-index: -1;
}
.phones {
    margin-top: -15vh;
    position: relative;
    z-index: 2;
    top: 25vh;
    right: 0;
    width: 90%;
}
.logo {
    width: 100.625px;
    height: 39.432px;
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    color: transparent;
}
.hamburger {
    margin: auto 0;
    width: 40px;
    height: 24px;

}
.cta_button {
    background-color: var(--neutral-white-text);

    color: var(--primary-light-red-CTA-text);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin: 1rem 0.3rem;
    padding: 1em 1rem;
    border-radius: 2rem;
    border: solid 0.1rem white;
  
}
._clear {
    padding: 1em 1.5rem;
    background-color: transparent;
    color: var(--neutral-white-text);

}
.hero {
    
    padding: 0.7rem;
    text-align: center;
}
.hero p {
    padding: 0rem 1rem;
    font-size: 1.2rem;
    text-align: center;
}
.hero h2 {
    padding: 0.5rem;

}
._wh-max {
    width: 100%;
    height: 100%;
}
._column {
    flex-direction: column;
    justify-content: center;
}

._margin-auto {
    margin: 0 auto;
}
._block {
    display: block;
}

._width-max {
    width: 100%;

}
._just-c-sb {
    justify-content: space-between;

}
._hiden {
    display: none;
}
._footer-sub-title {
    display: block;
    color: var(--neutral-white-text);
    font-weight: 500;
    margin: 1.5rem;
}
.green-box {
    border: solid 5px green;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }