:root {
    /* general colors variables */
    /* Primary color scheme */
    --primary-light-red-CTA-text: hsl(356, 100%, 66%);
    --primary-very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --primary-very-dark-blue-headings: hsl(208, 49%, 24%);
    /* Neutral color scheme  */
    --neutral-white-text: hsl(0, 0%, 100%);
    --neutral-grayish-blue-footer-text: hsl(240, 2%, 79%);
    --neutral-very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --neutral-very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    /* Gradient scheme  */
    --gradient-mobile-nav-very-light-red: hsl(13, 100%, 72%);
    --gradient-mobile-nav-light-red: hsl(353, 100%, 62%);
    --gradient-body-very-dark-gray-blue: hsl(237, 17%, 21%);
    --gradient-body-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Overpass', sans-serif;
    color: var(--primary-very-dark-blue-headings);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.flex {
    display:flex;

}
.flex-column {
    flex-direction: column;
    justify-content: center;
}

.auto-margin {
    margin: 0 auto;
}
.block {
    display: block;
}

.hero {
    width: 100%;

}
.display-fit {
    justify-content: space-between;

}
.margin-zone {
    margin: 1.1875em 1em;
}
.button {
    background-color: var(--primary-bright-blue);
    margin: 1rem auto;
    padding: 1em 0;
    box-shadow: 0 1em 1.5em -0.6em var(--neutral-desaturated-blue);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }